@import "utils/dimensions";
@import "utils/fonts";
.recent-employer {
    font-size: 0;
    h4 {
        font-size: calc(1.2 * #{$rem});
    }
    p {
        display: inline-block;
        width: 50%;
        padding: 15px;
        img {
            display: block;
            height: 325px;
            padding: 10px;
        }
    }
}
.mobile {
    .recent-employer {
        p {
            width: 100%;
            img {
                height: auto;
                width: 100%;
            }
        }
    }
}