@import "utils/colors";
@import "utils/dimensions";
@import "utils/layouts";
@import "utils/fonts";
.header {
    @include fixedCenter();
    top: 0;
    z-index: 2;
    font-size: 2.25 * $rem;
    height: 7.75 * $rem;
    width: $gutter-width;
    background: $white;
    font-family: $header;
    border-bottom: solid $pg 1px;
    white-space: nowrap;
}
.header__title {
    color: $pg;
    @if $display == 'Poiret One' {
        letter-spacing: .1em;
    }
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 300;
}
.header__subtitle {
    font-size: 1em;
    font-weight: 300;
    color: $dark-font-gray;
}
.header--mini {
    height: $hmh;
    font-size: 1.5 * $rem;
    .header__title {
        display: inline-block;
    }
    .header__subtitle {
        display: inline-block;
    }
}

body.mobile .header {
    height: auto;
    font-size: 3 * $rem;
    .header__title {
        display: block;
        text-align: center;
    }
    .header__subtitle {
        display: block;
        text-align: center;
    }
}