@import "utils/fonts";
@import "utils/layouts";
.image-pair__list {
    @include horizontalWrapper;
    white-space: normal;
}
.image-pair__container {
    @include horizontal;
    width: 50%;
    padding: 5px;
}
.image-pair__text {
    display: block;
    height: 50px;
}
.image-pair__img {
    display: block;
    height: 325px;
    padding: 10px;
}
body.mobile {
    .image-pair__container {
        width: 100%;
    }
    .image-pair__img {
        height: auto;
        width: 100%;
    }
}