@import "utils/colors";
@import "utils/dimensions";
@import "utils/layouts";
@import "utils/elements";
@import "utils/fonts";
.leftnav {
    @include horizontal();
    @include equalHeightColumn(1);
    width: $leftnav-width;
    background: $lnbg;
    border-right: solid $borg 1px;

    div {
        a {
            display: block;
            width: 100%;
            padding: $lnp;
            text-align: center;
            text-transform: uppercase;
            font-family: $display;
            font-weight: bold;
            font-size: 1.42rem;
            letter-spacing: 1px;
            cursor: pointer;
            @if $display == 'Poiret One' {
                letter-spacing: .5em;
            }
            &:active {
                background: $white;
            }
            &:hover, &:focus {
                color: $white;
                outline: none;
                background: $sg;
            }
        }
    }
}