@import "utils/colors";
@import "utils/dimensions";
@import "utils/layouts";
@import "utils/elements";
.main {
    background: $white;
}

.desktop {
    .main {
        @include horizontal();
        @include equalHeightColumn(1);
        @include horizontalWrapper();
        width: calc(100% - #{$leftnav-width});
        padding-top: 10px;
        padding-left: 10px;
    }
}

h3 {
    margin-bottom: 20px;
    font-size: 34px;
    color: $pg;
    font-family: $display;
    text-transform: uppercase;
    letter-spacing: 4px;
}