@import "utils/fonts";
@import "utils/colors";
.expertise {
    table {
        margin-top: 20px;
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        thead {
            tr {
                th {
                    font-size: 21px;
                    font-family: $display;
                    text-transform: uppercase;
                    color: $dark-font-gray;
                    letter-spacing: 2px;
                }
            }
        }
        tbody {
            tr {
                td {
                    text-align: center;
                    font-weight: 300;
                    letter-spacing: 2px;
                    margin: 0;
                    padding: 25px 10px;
                    span {
                        &:after {
                            content: ', ';
                        }
                        &:last-of-type:after {
                            content: '';
                        }
                    }
                }
            }
        }
    }
}
.expertise-mobile {
    font-size: 20px;
    h4 {
        margin: 10px 0;
    }
    .associated {
        padding-left: 20px;
        span {
            &:first-of-type {
                margin-left: 5px;
            }
            &:after {
                content: ', ';
                margin-right: 5px;
            }
            &:last-of-type:after {
                content: ' ';
            }
        }
    }
}