@import "utils/fonts";
@import "utils/colors";
.expertise {
    padding: 20px;
    h3 {
        margin-bottom: 20px;
        font-size: 34px;
        color: $pg;
        font-family: $display;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        thead {
            tr {
                th {
                    font-size: 21px;
                    font-family: $display;
                    text-transform: uppercase;
                    color: $dark-font-gray;
                    letter-spacing: 2px;
                }
            }
        }
        tbody {
            tr {
                td {
                    text-align: center;
                    font-weight: 300;
                    letter-spacing: 2px;
                    margin: 0;
                    padding: 25px 10px;
                    span {
                        &:after {
                            content: ', ';
                        }
                        &:last-of-type:after {
                            content: '';
                        }
                    }
                }
            }
        }
    }
}