p {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 300;
}

pre {
    width: 100%;
    overflow: auto;
}

h4  {
    font-size: 22px;
    font-weight: 300;
    text-decoration: underline;
}