p {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 300;
}

.mobile p {
    font-size: 36px;
}

pre {
    width: 100%;
    overflow: auto;
}

h4  {
    font-size: 22px;
    font-weight: 300;
    text-decoration: underline;
}

.mobile h4  {
    font-size: 44px;
}