@import "utils/colors";
@import "utils/dimensions";
@import "utils/layouts";
@import "utils/elements";

.topnav {
    @include horizontalWrapper();
    background: white;
    top: -5px;
    position: relative;
    font-family: $header;
    .nav {
        @include horizontal();
        width: auto;
        a {
            padding: $lnp;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.4em;
            display: inline-block;
        }
    }
}