@import "utils/colors";
@import "utils/dimensions";
@import "utils/layouts";
@import "utils/elements";

.topnav {
    @include horizontalWrapper();
    background: white;
    top: -5px;
    position: relative;
    font-family: $header;
    overflow: visible !important;
    .nav {
        @include horizontal();
        width: 33%;
        a {
            padding: $lnp;
            text-transform: uppercase;
            text-align: center;
            font-size: 3.5em;
            display: inline-block;
        }
    }
    .more-menu {
        display: none;
        position: absolute;
        background: white;
        .nav {
            display: block;
            a {
                text-align: left;
            }
        }
    }
    &.show-more .more-menu {
        display: block;
    }
}