@import "utils/colors";
@import "utils/dimensions";
@import "utils/layouts";
@import "utils/elements";
.wrapper {
    @include equalHeightColumnWrapper();
    @include horizontalWrapper();
    position: relative;
    top: $hh;
    background: $white;
    padding-bottom: $fh;
}
.mobile {
    .wrapper {
        top: 300px;
    }
}
.mini .wrapper {
    top: $hmh;
}