@import "utils/colors";
@import "utils/dimensions";
@import "utils/layouts";
@import "utils/elements";
.wrapper {
    @include equalHeightColumnWrapper();
    @include horizontalWrapper();
    min-height: calc(100% - #{$hh + $fh});
    position: relative;
    top: $hh;
    background: $white;
    padding-bottom: $fh;
}
.mobile {
    .wrapper {
        top: 250px;
        min-height: calc(100% - #{$hmh + $fh});
    }
}
.mini .wrapper {
    top: $hmh;
}