$primary-green: #659955;
$secondary-green: #437733;
$pg: $primary-green;
$sg: $secondary-green;
$gray-background: #ffffff;
$leftnav-background: $gray-background;
$lnbg: $leftnav-background;
$bordergray: #e2e2e2;
$borg: $bordergray;
$lightgray: #ccc;
$white: #ffffff;
$font-gray: rgb(81, 81, 81);
$font-light-gray: rgb(170, 170, 170);
$dark-font-gray: #343434;
$lgray: $lightgray;