$leftnav-width: 13.5rem;
$lnw: $leftnav-width;
$mobile-nav-height: 5.5rem;
$mnh: $mobile-nav-height;
$header-height: 10.8rem;
$hh: $header-height;
$header-mini-height: 4rem;
$hmh: $header-mini-height;
$footer-height: 3.5rem;
$fh: $footer-height;
$gutters: 9rem;
$gutter-width: calc(100% - #{$gutters});
$workflow-info-width: $leftnav-width;
$wfiw: $workflow-info-width;
$workflow-info-height: 1.8rem;
$wfih: $workflow-info-height;
$border-radius: .4rem;
$modal-max-height: 95%;
$mmh: $modal-max-height;
$leftnavpadding: 1rem 2rem;
$lnp: $leftnavpadding;